#Copyright 2023 StreamNative, Inc.
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing, software
#distributed under the License is distributed on an "AS IS" BASIS,
#WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#See the License for the specific language governing permissions and
#limitations under the License.

appConfig:
  applicationAgentProperties:
    stripeKeySecretName: stripe
%{ if environment == "test" }
    raw: |
      spring.security.oauth2.resourceserver.jwt.issuer-uri=https://auth.test.cloud.gcp.streamnative.dev/
      cloud.api.audience=https://api.test.cloud.gcp.streamnative.dev
      spring.security.oauth2.resourceserver.jwt.audience=https://api.test.cloud.gcp.streamnative.dev
%{ else }
%{ if environment == "staging" }
    raw: |
      spring.security.oauth2.resourceserver.jwt.issuer-uri=https://auth.sncloud-stg.dev/
      cloud.api.audience=https://api.sncloud-stg.dev
      spring.security.oauth2.resourceserver.jwt.audience=https://api.sncloud-stg.dev
%{ else }
    raw: |
      spring.security.oauth2.resourceserver.jwt.issuer-uri=https://auth.streamnative.cloud/
      cloud.api.audience=https://api.streamnative.cloud
      spring.security.oauth2.resourceserver.jwt.audience=https://api.streamnative.cloud
%{ endif }
%{ endif }
